# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.onnx
*.json
*.txt

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# ONNX models
*.onnx
*.onnx_data
benchmarks/onnx/

# Misc
*.log
*.pdf
artifacts/
# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz

paper/
tensat/
!tensat/ex.md
